<?php

$finder = \PhpCsFixer\Finder::create()
    ->notPath('bootstrap/*')
    ->notPath('storage/*')
    ->notPath('resources/view/mail/*')
    ->in([
        __DIR__.'/src',
        __DIR__.'/tests',
    ])
    ->name('*.php')
    ->notName('*.blade.php')
    ->ignoreDotFiles(true)
    ->ignoreVCS(true);

return \PhpCsFixer\Config::create()
    ->setRules(array_merge(require '.php_cs.laravel', [
        '@PSR2' => true,
        '@PSR12' => true,
        'no_unused_imports' => true,
        'phpdoc_to_comment' => false,
        'phpdoc_order' => true,
        'phpdoc_separation' => true,
        'simplified_null_return' => false,
    ]))
    ->setLineEnding("\n")
    ->setIndent(str_repeat(' ', 4))
    ->setUsingCache(false)
    ->setRiskyAllowed(true)
    ->setFinder($finder);
